body {
  font-family: fantasy, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.notification {
  background-color: #e8f0fe;
  font-size: 20px;
  border: 3px solid;
  border-radius: 16px;
  padding: 12px;
  margin-bottom: 10px;
}

.success {
  color: rgb(0, 255, 0);
}

.error {
  color: rgb(255, 0, 0);
}

.login-form, .togglable-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 30px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: rgba(28, 22, 56, 0.3) 0px 60px 120px 10px;
}

.blog-form {
  display: flex;
  flex-direction: column;
}

.blog {
  padding-top: 14px;
  padding-left: 2px;
  border: solid;
  border-width: 2px;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleText {
  cursor: pointer;
  font-weight: bold;      
}

h2 {
  align-self: center;
  font-size: 30px;
}

input, .button {
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
}

input {
  border: 1px solid;
  height: 20px;
  width: 300px;
}

.button {
  border: none;
  cursor: pointer;
}

.button--green {
  color: white;
  background-color: rgb(13, 175, 13);
}

.button--muted {
  background-color: rgb(224, 224, 224);
}